/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./src/app/about/about.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.ulitems {
    display: flex;
    padding: 40px 3px 4px 48px;
  }
  .liitem {
    list-style: none;
  }
  .inner2 {
    margin-left: 26px;
  }
